header {
    background-color: rgb(134, 0, 0);
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  div img 
  {
    width: 200px;
    display: flex;
    justify-content: center;
   
    
  }
  nav {
    background-color: #b4b4b4;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin:10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: rgb(134, 0, 0);
    font-weight: bold;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
     background-color: rgb(199, 211, 221) ;
     
  }

 div h3 {
  text-align: center;
  font-weight: lighter;
 }
 div h2
 {
  text-align: center;
  font-weight: lighter;
 }
 div h1
 {
  text-align: center;
  font-weight: lighter;
 }

.Exhibiciones-Flex
{
  
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
 .Tarjeta-Flex{
  width: 400px;
  display: flex;
  text-align: center;
  background-color: rgb(87, 87, 87);
  flex-direction: column;
  font-size: 10px;
  margin: 2%;
  color: rgb(163, 163, 163);
  align-items: center;
 }
 
.Index-flex
{
  flex-direction: column;
  display: flex;
  align-items: center;
}
.mapa-flex
{
  flex-direction: column;
  display: flex;
  align-items: center;
}
.eventos-flex
{
  width: 800px;
  display: flex;
  background-color: darkgray;
  flex-direction: column;
  align-items: center;
  margin: 7%;
}
.eventos-flex button
{
background-color:  rgb(134, 0, 0);
color: rgb(255, 255, 255);
}
footer
{
  flex-direction:row-reverse;
  display: flex;
  background-color: rgb(134, 0, 0);
}
.eventos-flex button:hover
{background-color: rgb(168, 6, 6);}
.eventos-flex2
{
 
   flex-direction: row;
  display: flex;
  align-items: center;
  font-weight: lighter;
}